@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
}

.footer {
    margin: 0px;
    justify-content: center;
    color: #e5e7eb;
    padding: 16px;

}

.header {
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.sidetoside{
    display: flex;
    flex-direction: row;
    margin: 100px;
    justify-content: center;
}

.awesome {
  display: flex; 
  align-self: flex-start;
  flex-direction: column; 
  width: 400px;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding-bottom: 0;
    margin: 0;
}

.hero-second {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

.button-1 {
    background-color: #3882f6;
    border: 1px #3882f6;
    color: #e5e7eb;
    width: 100px;
    margin-top: 6px;
    font-weight: bold;
}

.placeholder {
    width: 400px;
    height: 250px;
    border-radius: 8px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.rando {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.expo-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-direction: center;
    padding: 0px;
    margin: 24px;

}

.image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border:solid #3882f6;
}

.sub {
    width: 150px;
    text-align: center;
    margin-top: 8px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 400px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
    align-self: center;
    text-align: justify;
}

.quote-author {
    color: #1F2937;
    font-weight: bold;
    margin-right: 72px;
}

.sidetoside2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #3882f6;
    width: 600px;
    height: 125px;
    border-radius: 8px;
    align-self: center;
    margin: 72px;
    gap: 36px;
}

.text {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
}

.action {
    font-weight: 900;
}

.product {
    font-size: smaller;
}

.button-2 {
    background-color: #3882f6;
    color: #e5e7eb;
    border: solid #e5e7eb;
    width: 100px;
    height: 36px;
    font-weight: bold;
    text-align: center;
    align-self: center;

}




